/* line 1, ../sass/head.scss */
.head {
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 38, 55, 0.16);
  user-select: none;
  height: 420px;
  max-width: 160rem;
}
/* line 9, ../sass/head.scss */
.head .hd-bg {
  display: block;
  position: absolute;
  width: 101%;
  left: 50%;
  transform: translate(-50%, -12%);
  z-index: 0;
}
/* line 17, ../sass/head.scss */
.head .hd-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  z-index: 1;
}
/* line 24, ../sass/head.scss */
.head .hd-nav .hd-nav-container {
  position: relative;
  max-width: 85rem;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 31, ../sass/head.scss */
.head .hd-nav .hd-icon {
  position: relative;
  left: 1rem;
  max-width: 20%;
  min-width: 10rem;
  height: 100%;
  opacity: 0.8;
  transition: all .2s linear;
}
/* line 39, ../sass/head.scss */
.head .hd-nav .hd-icon .icon-img {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0;
  background: url(./../../images/logo.png) no-repeat center;
  background-size: cover;
}
/* line 47, ../sass/head.scss */
.head .hd-nav .hd-icon .icon-name {
  display: inline-block;
  position: absolute;
  text-align: left;
  left: 3.5rem;
  top: 1.3rem;
  color: #fff;
  width: 8rem;
  font-size: 1.6rem;
}
/* line 57, ../sass/head.scss */
.head .hd-nav .hd-icon:hover {
  opacity: 1;
}
/* line 61, ../sass/head.scss */
.head .hd-nav .mobile-menu {
  display: none;
  position: fixed;
  top: 0.8rem;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 11;
}
/* line 69, ../sass/head.scss */
.head .hd-nav .mobile-menu img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 76, ../sass/head.scss */
.head .hd-nav .hd-center {
  width: 60%;
  height: 100%;
}
/* line 80, ../sass/head.scss */
.head .hd-nav .hd-search {
  position: absolute;
  right: 1.2rem;
  width: 18rem;
  height: 100%;
  overflow: hidden;
}
/* line 86, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search-box {
  position: relative;
  top: 1.2rem;
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  overflow: hidden;
  width: 16rem;
  height: 2.2rem;
  line-height: 2.2rem;
}
/* line 99, ../sass/head.scss */
.head .hd-nav .hd-search input {
  width: 15rem;
  height: 2rem;
  background: transparent;
  transition: .3s linear;
  color: #fff;
  padding: 0 0.2rem 0 0.8rem;
  border-bottom: 2px solid #fff;
}
/* line 108, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search-box label::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 120, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search-input:focus + label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 124, ../sass/head.scss */
.head .hd-nav .hd-search input::-webkit-input-placeholder {
  color: #fff;
}
/* line 127, ../sass/head.scss */
.head .hd-nav .hd-search input::-moz-placeholder {
  color: #fff;
}
/* line 130, ../sass/head.scss */
.head .hd-nav .hd-search input:-moz-placeholder {
  color: #fff;
}
/* line 133, ../sass/head.scss */
.head .hd-nav .hd-search input:-ms-input-placeholder {
  color: #fff;
}
/* line 136, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search input:focus {
  width: 20rem;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA;
}
/* line 141, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search-btn {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  background: url(./../../images/search_white.png) no-repeat;
  background-size: contain;
  opacity: 0.8;
  transition: all .2s linear;
  margin-top: 1.5rem;
  z-index: 3;
}
/* line 151, ../sass/head.scss */
.head .hd-nav .hd-search .hd-search-btn:hover {
  opacity: 1;
}
/* line 157, ../sass/head.scss */
.head h3,
.head h4 {
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 1rem auto;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  /* line 169, ../sass/head.scss */
  .head {
    height: 40rem;
  }
  /* line 171, ../sass/head.scss */
  .head .hd-nav-fixed {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 38, 55, 0.16);
  }
  /* line 175, ../sass/head.scss */
  .head .hd-nav-fixed .hd-icon .icon-name {
    color: #000;
  }
  /* line 178, ../sass/head.scss */
  .head .hd-nav-fixed .hd-icon .icon-img {
    background: url(./../../images/logo_h.png) no-repeat center;
    background-size: contain;
  }
  /* line 184, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search .hd-search-btn {
    background: url(./../../images/search_black.png) no-repeat;
    background-size: contain;
  }
  /* line 188, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search .hd-search-box label::after {
    border-bottom: 2px solid #000;
  }
  /* line 191, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search input {
    border-color: #000;
    color: #000;
  }
  /* line 195, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search input::-webkit-input-placeholder {
    color: #000;
  }

  /* line 201, ../sass/head.scss */
  h3 {
    top: 12rem;
    font-size: 4rem;
  }

  /* line 205, ../sass/head.scss */
  h4 {
    top: 18rem;
    font-size: 3rem;
  }

  /* line 209, ../sass/head.scss */
  .pc .head .hd-nav .hd-search .hd-pc-show {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@media screen and (max-width: 1366px) {
  /* line 216, ../sass/head.scss */
  .head {
    height: 32rem;
  }
  /* line 220, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box {
    height: 2.25rem;
    line-height: 2.25rem;
  }
  /* line 224, ../sass/head.scss */
  .head .hd-nav .hd-search input {
    width: 15rem;
    height: 2rem;
    background: transparent;
    transition: .3s linear;
    color: #fff;
    padding: 0 0.2rem 0 0.8rem;
    font-size: 1rem;
    border-bottom: 0.25rem solid #fff;
  }
  /* line 236, ../sass/head.scss */
  .head h3 {
    top: 8rem;
    font-size: 3.5rem;
  }
  /* line 240, ../sass/head.scss */
  .head h4 {
    top: 14rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 247, ../sass/head.scss */
  .head {
    height: 26rem;
  }
  /* line 249, ../sass/head.scss */
  .head .hd-nav-fixed {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 38, 55, 0.16);
  }
  /* line 253, ../sass/head.scss */
  .head .hd-nav-fixed .hd-icon .icon-name {
    color: #000;
  }
  /* line 256, ../sass/head.scss */
  .head .hd-nav-fixed .hd-icon .icon-img {
    background: url(./../../images/logo_h.png) no-repeat center;
    background-size: cover;
  }
  /* line 262, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search .hd-search-btn {
    background: url(./../../images/search_black.png) no-repeat;
    background-size: contain;
  }
  /* line 266, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search .hd-search-box label::after {
    border-bottom: 2px solid #000;
  }
  /* line 269, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search input {
    border-color: #000;
    color: #000;
  }
  /* line 273, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search input::-webkit-input-placeholder {
    color: #000;
  }
  /* line 280, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box {
    height: 2.25rem;
  }
  /* line 282, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box .hd-search-btn {
    right: 1rem;
  }
  /* line 287, ../sass/head.scss */
  .head .hd-nav h3 {
    font-size: 3.2rem;
    top: 7rem;
  }
  /* line 291, ../sass/head.scss */
  .head .hd-nav h4 {
    font-size: 2.3rem;
    top: 12rem;
  }

  /* line 297, ../sass/head.scss */
  .pc .head .hd-nav .hd-search .hd-pc-show {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@media screen and (max-width: 768px) {
  /* line 304, ../sass/head.scss */
  .head {
    height: 23rem;
  }
  /* line 306, ../sass/head.scss */
  .head .hd-bg {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 80rem;
    z-index: 0;
  }
  /* line 314, ../sass/head.scss */
  .head .hd-nav {
    height: 5rem;
  }
  /* line 316, ../sass/head.scss */
  .head .hd-nav .hd-nav-container {
    position: relative;
    max-width: 85rem;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  /* line 323, ../sass/head.scss */
  .head .hd-nav .hd-icon,
  .head .hd-nav .hd-center {
    display: none;
  }
  /* line 327, ../sass/head.scss */
  .head .hd-nav .mobile-menu {
    display: inline-block;
  }
  /* line 330, ../sass/head.scss */
  .head .hd-nav .hd-search {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  /* line 338, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box {
    position: absolute;
    opacity: 0;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 4;
    border: none;
  }
  /* line 353, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-input {
    width: 75%;
    height: 100%;
    transition: .3s linear;
    color: #000;
    font-size: 2rem;
    padding: 0 20% 0 5%;
    border: none;
    font-family: "Microsoft YaHei";
  }
  /* line 363, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box label {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    background: url(./../../images/close.png) no-repeat center;
    border: none;
    background-size: contain;
  }
  /* line 373, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-box label:after {
    border: none;
  }
  /* line 377, ../sass/head.scss */
  .head .hd-nav .hd-search .hd-search-btn {
    width: 2.5rem;
    height: 2.5rem;
    right: 1.1rem;
    top: -0.25rem;
  }
  /* line 383, ../sass/head.scss */
  .head .hd-nav .hd-search input::-webkit-input-placeholder {
    color: #000;
  }
  /* line 388, ../sass/head.scss */
  .head h3 {
    font-size: 2.2rem;
    top: 6.5rem;
  }
  /* line 392, ../sass/head.scss */
  .head h4 {
    font-size: 2rem;
    top: 11.5rem;
  }
  /* line 396, ../sass/head.scss */
  .head .hd-nav-fixed {
    background: #fff;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 38, 55, 0.16);
  }
  /* line 400, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search .hd-search-btn {
    background: url(./../../images/search_black.png) no-repeat;
    background-size: contain;
  }
  /* line 404, ../sass/head.scss */
  .head .hd-nav-fixed .hd-search input {
    border-color: #000;
    color: #000;
  }

  /* line 412, ../sass/head.scss */
  .mobile .head .hd-nav .hd-search .hd-mobile-show {
    opacity: 1;
    -webkit-transform: translateY(-1.2rem);
    transform: translateY(-1.2rem);
    z-index: 12;
  }
}
