/* line 1, ../sass/home.scss */
.post {
  padding: 0rem 0 0 18rem;
  height: auto;
  min-height: 30rem;
  border: 0.1rem solid rgba(237, 237, 237, 0.6);
}
/* line 6, ../sass/home.scss */
.post .post-title {
  background: #fff;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
/* line 14, ../sass/home.scss */
.post .post-title .icon {
  display: none;
  position: relative;
  margin-right: 0.5rem;
}
/* line 19, ../sass/home.scss */
.post .post-title .label {
  top: -0.1rem;
}
/* line 24, ../sass/home.scss */
.post .post-tag .tags {
  display: inline-block;
}
/* line 29, ../sass/home.scss */
.post .post-label .label {
  display: inline-block;
}
/* line 33, ../sass/home.scss */
.post .post-content {
  margin: 0;
}
/* line 35, ../sass/home.scss */
.post .post-content .post-section {
  position: relative;
  padding: 1rem;
  background: #fff;
  margin-bottom: 1.5rem;
}
/* line 40, ../sass/home.scss */
.post .post-content .post-section .post-section-banner {
  overflow: hidden;
  width: 100%;
  height: 18rem;
  border-radius: 0.4rem;
}
/* line 45, ../sass/home.scss */
.post .post-content .post-section .post-section-banner img {
  max-width: 100%;
  transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
}
/* line 51, ../sass/home.scss */
.post .post-content .post-section .post-section-banner:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
/* line 57, ../sass/home.scss */
.post .post-content .post-section .post-section-title {
  height: 2.8rem;
  padding: 0.9rem 0 0.9rem 0;
  line-height: 2.8rem;
}
/* line 61, ../sass/home.scss */
.post .post-content .post-section .post-section-title .a {
  display: inline-block;
  max-width: 50rem;
  color: #222;
  font-size: 2.2rem;
}
/* line 66, ../sass/home.scss */
.post .post-content .post-section .post-section-title .a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ff6f3d;
  transition: width 0.5s ease-in-out;
}
/* line 74, ../sass/home.scss */
.post .post-content .post-section .post-section-title .a:hover {
  color: #ff6f3d;
  transition: all .5s ease-in;
}
/* line 77, ../sass/home.scss */
.post .post-content .post-section .post-section-title .a:hover:after {
  width: 100%;
}
/* line 82, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label {
  position: relative;
  line-height: 2.5rem;
  display: inline-block;
  padding-left: 2.2rem;
  background: url(./../../images/label.png) no-repeat center left;
  background-size: 1.5rem 1.5rem;
}
/* line 89, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label .post-section-info-time {
  display: none;
}
/* line 92, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label a {
  display: inline-block;
  height: 100%;
  font-size: 1.5rem;
  color: #707070;
  transition: all 0.5s ease-in-out;
}
/* line 98, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label a:hover {
  -webkit-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  transform: translateY(-0.1rem);
  color: #ff6f3d;
}
/* line 103, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label a:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0.3rem);
  -ms-transform: translateY(0.3rem);
  transform: translateY(0.3rem);
}
/* line 110, ../sass/home.scss */
.post .post-content .post-section .post-section-title .title-label a:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 90%;
  left: 5%;
  height: 0.8rem;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
/* line 130, ../sass/home.scss */
.post .post-content .post-section .post-section-markdown {
  margin-bottom: 1.8rem;
  max-height: 5rem;
  overflow: hidden;
  font-size: 1.5rem;
  text-indent: 2.2rem;
  word-wrap: break-word;
  line-height: 1.2;
  color: #7f7f7f;
}
/* line 140, ../sass/home.scss */
.post .post-content .post-section .post-section-info {
  padding: 1.1rem 0 0rem 0;
  min-height: 1.8rem;
  border-top: 0.1rem solid #eee;
}
/* line 144, ../sass/home.scss */
.post .post-content .post-section .post-section-info .post-section-info-tag {
  max-width: 50rem;
  height: auto;
  display: inline-block;
  padding-left: 3rem;
  background: url(./../../images/tags.png) no-repeat left top;
  background-size: 2rem 2rem;
}
/* line 152, ../sass/home.scss */
.post .post-content .post-section .post-section-info .article-tag-list-item {
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.8rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 1rem;
  border: 0.1rem solid #ddd;
  color: #aaa;
}
/* line 162, ../sass/home.scss */
.post .post-content .post-section .post-section-info .article-tag-list-item:hover {
  color: #ff6f3d;
  border-color: #ff6f3d;
  transition: all .5s ease-in;
}
/* line 169, ../sass/home.scss */
.post .post-content .post-section .post-section-info-time {
  position: relative;
  display: inline-block;
  max-width: 8rem;
  padding-left: 2.0rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #707070;
  background: url(./../../images/date.png) no-repeat center left;
  background-size: 1.5rem 1.5rem;
}
/* line 180, ../sass/home.scss */
.post .post-content .post-section::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  width: 0.4rem;
  height: 6rem;
}
/* line 189, ../sass/home.scss */
.post .post-content .post-section:hover {
  transition: all .3s linear;
  box-shadow: 0 0.1rem 1rem rgba(0, 38, 55, 0.16);
}
/* line 195, ../sass/home.scss */
.post .post-content .color-a::after {
  background: #000;
}
/* line 200, ../sass/home.scss */
.post .post-content .color-b::after {
  background: green;
}
/* line 205, ../sass/home.scss */
.post .post-content .color-c::after {
  background: yellow;
}
/* line 210, ../sass/home.scss */
.post .post-content .color-e::after {
  background: blue;
}
/* line 215, ../sass/home.scss */
.post .post-content .color-f::after {
  background: orange;
}
/* line 220, ../sass/home.scss */
.post .post-content .color-g::after {
  background: #ff6f3d;
}
/* line 225, ../sass/home.scss */
.post .post-loading {
  position: relative;
  background: #fff;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}
/* line 233, ../sass/home.scss */
.post .post-loading span {
  font-size: 1.5rem;
}
/* line 236, ../sass/home.scss */
.post .post-loading .loading {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  position: relative;
  -webkit-animation: load 3s linear infinite;
}
/* line 243, ../sass/home.scss */
.post .post-loading .loading div {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 248, ../sass/home.scss */
.post .post-loading .loading span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ff6f3d;
  position: absolute;
  left: 1%;
  margin-top: -0.1rem;
  margin-left: -0.1rem;
  -webkit-animation: changeBgColor 3s ease infinite;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  33.3% {
    -webkit-transform: rotate(120deg);
  }
  66.6% {
    -webkit-transform: rotate(240deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes changeBgColor {
  0%,100% {
    background: #99CC66;
  }
  33.3% {
    background: #FFFF66;
  }
  66.6% {
    background: #FF6666;
  }
}
/* line 285, ../sass/home.scss */
.post .post-loading .loading div:nth-child(2) {
  -webkit-transform: rotate(120deg);
}
/* line 288, ../sass/home.scss */
.post .post-loading .loading div:nth-child(3) {
  -webkit-transform: rotate(240deg);
}
/* line 291, ../sass/home.scss */
.post .post-loading .loading div:nth-child(2) span {
  -webkit-animation-delay: 1s;
}
/* line 294, ../sass/home.scss */
.post .post-loading .loading div:nth-child(3) span {
  -webkit-animation-delay: 2s;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 307, ../sass/home.scss */
  .post {
    padding: 1rem;
  }
  /* line 310, ../sass/home.scss */
  .post .post-content .post-section {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  /* line 313, ../sass/home.scss */
  .post .post-content .post-section .post-section-banner {
    width: 100%;
    height: 18rem;
  }
  /* line 317, ../sass/home.scss */
  .post .post-content .post-section .post-section-title {
    height: 2.8rem;
    padding: 0.9rem 0 0.9rem 0;
  }
  /* line 320, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .a {
    max-width: 68rem;
    font-size: 2.2rem;
  }
  /* line 324, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label {
    padding-left: 2rem;
    background-size: 1.7rem 1.7rem;
  }
  /* line 327, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label a {
    font-size: 1.5rem;
  }
  /* line 332, ../sass/home.scss */
  .post .post-content .post-section .post-section-markdown {
    max-height: 6.5rem;
  }
  /* line 336, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .post-section-info-tag {
    max-width: 45rem;
  }
  /* line 339, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item {
    float: left;
    margin: 0 1.8rem 1.2rem 0;
  }
  /* line 342, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item span {
    font-size: 1.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 355, ../sass/home.scss */
  .post {
    padding: 1rem;
  }
  /* line 358, ../sass/home.scss */
  .post .post-content .post-section {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  /* line 361, ../sass/home.scss */
  .post .post-content .post-section .post-section-banner {
    height: 10rem;
  }
  /* line 364, ../sass/home.scss */
  .post .post-content .post-section .post-section-title {
    height: 2rem;
  }
  /* line 366, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .a {
    max-width: 52rem;
    font-size: 1.7rem;
  }
  /* line 370, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label {
    height: 100%;
    line-height: 2rem;
    padding-left: 2rem;
  }
  /* line 374, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label .post-section-info-time {
    display: none;
  }
  /* line 377, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label a {
    font-size: 1.3rem;
  }
  /* line 382, ../sass/home.scss */
  .post .post-content .post-section .post-section-info {
    padding-top: 1.5rem;
  }
  /* line 384, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .post-section-info-tag {
    max-width: 48rem;
  }
  /* line 387, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item {
    margin: 0.2rem 1.8rem 1rem 0;
    line-height: 1.4rem;
  }
  /* line 390, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item:last-child {
    margin: 0.2rem 0 0 0;
  }
  /* line 395, ../sass/home.scss */
  .post .post-content .post-section .post-section-markdown {
    max-height: 6.5rem;
  }
  /* line 398, ../sass/home.scss */
  .post .post-content .post-section .post-section-info-time {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 736px) {
  /* line 410, ../sass/home.scss */
  .post .post-content .post-section .post-section-markdown {
    max-height: 6.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 414px) {
  /* line 419, ../sass/home.scss */
  .post {
    padding: 1rem;
  }
  /* line 422, ../sass/home.scss */
  .post .post-content .post-section {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  /* line 425, ../sass/home.scss */
  .post .post-content .post-section .post-section-banner {
    height: 10rem;
  }
  /* line 428, ../sass/home.scss */
  .post .post-content .post-section .post-section-title {
    height: 5rem;
  }
  /* line 430, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .a {
    max-width: 100%;
    font-size: 1.7rem;
  }
  /* line 434, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label {
    width: 94%;
    height: 2rem;
    line-height: 2rem;
    padding-left: 1.5rem;
    background-size: 1.2rem 1.2rem;
    margin: 0.5rem 0;
  }
  /* line 441, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label a {
    float: left;
    font-size: 1.3rem;
  }
  /* line 445, ../sass/home.scss */
  .post .post-content .post-section .post-section-title .title-label .post-section-info-time {
    position: relative;
    float: right !important;
    display: inline-block;
    padding-left: 1.5rem;
    padding-top: 0.10rem;
    font-size: 1.3rem;
    max-width: 8rem;
    background-size: 1.2rem 1.2rem;
    margin-top: 0.15rem;
  }
  /* line 458, ../sass/home.scss */
  .post .post-content .post-section .post-section-markdown {
    width: 100%;
    max-height: 7rem;
    font-size: 1.5rem;
  }
  /* line 463, ../sass/home.scss */
  .post .post-content .post-section .post-section-info {
    padding-top: 1.5rem;
  }
  /* line 465, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .post-section-info-tag {
    max-width: 25rem;
  }
  /* line 468, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item {
    margin: 0.2rem 0.5rem 1rem 0;
    line-height: 1.4rem;
  }
  /* line 471, ../sass/home.scss */
  .post .post-content .post-section .post-section-info .article-tag-list-item:last-child {
    margin: 0.2rem 0 0 0;
  }
  /* line 476, ../sass/home.scss */
  .post .post-content .post-section .post-section-info-time {
    display: none;
  }
}
