@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/font_roc50gemkxpw4s4i.eot?t=1496737402923");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_roc50gemkxpw4s4i.eot?t=1496737402923#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_roc50gemkxpw4s4i.woff?t=1496737402923") format("woff"), url("//at.alicdn.com/t/font_roc50gemkxpw4s4i.ttf?t=1496737402923") format("truetype"), url("//at.alicdn.com/t/font_roc50gemkxpw4s4i.svg?t=1496737402923#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 8, ../sass/user.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../sass/user.scss */
.icon-twitter:before {
  content: "\e634";
}

/* line 17, ../sass/user.scss */
.icon-socialyoutubecircle:before {
  content: "\e76c";
}

/* line 19, ../sass/user.scss */
.icon-facebook:before {
  content: "\e613";
}

/* line 21, ../sass/user.scss */
.icon-author:before {
  content: "\e624";
}

/* line 23, ../sass/user.scss */
.icon-dribble:before {
  content: "\e612";
}

/* line 25, ../sass/user.scss */
.icon-search:before {
  content: "\e660";
}

/* line 27, ../sass/user.scss */
.icon-weibo:before {
  content: "\e600";
}

/* line 29, ../sass/user.scss */
.icon-ttpodicon:before {
  content: "\e67b";
}

/* line 31, ../sass/user.scss */
.icon-jianshu:before {
  content: "\e614";
}

/* line 33, ../sass/user.scss */
.icon-email:before {
  content: "\e60b";
}

/* line 35, ../sass/user.scss */
.icon-linkedin:before {
  content: "\e60d";
}

/* line 37, ../sass/user.scss */
.icon-date:before {
  content: "\e619";
}

/* line 39, ../sass/user.scss */
.icon-github:before {
  content: "\e69f";
}

/* line 41, ../sass/user.scss */
.icon-medium:before {
  content: "\e94c";
}

/* line 43, ../sass/user.scss */
.icon-behance:before {
  content: "\e608";
}

/* line 45, ../sass/user.scss */
.icon-v2ex:before {
  content: "\e615";
}

/* line 47, ../sass/user.scss */
.icon-uicn:before {
  content: "\e602";
}

/* line 49, ../sass/user.scss */
.icon-instagram:before {
  content: "\e64d";
}

/* line 51, ../sass/user.scss */
.icon-Google:before {
  content: "\e603";
}

/* line 53, ../sass/user.scss */
.icon-zhihu:before {
  content: "\e6b1";
}

/* line 55, ../sass/user.scss */
.icon-juejin:before {
  content: "\e601";
}

/* line 57, ../sass/user.scss */
.icon-menu:before {
  content: "\e605";
}

/* line 59, ../sass/user.scss */
.icon-douban:before {
  content: "\e60e";
}

/* line 61, ../sass/user.scss */
.sns-links .iconfont {
  font-size: 2.5rem;
  line-height: 2.2rem;
}

/* line 65, ../sass/user.scss */
.sns-links .iconfont {
  color: #b8bdc3;
  transition: 0.2s;
}

/* line 69, ../sass/user.scss */
.sns-links .iconfont:hover {
  color: #7b848f;
}

/* line 72, ../sass/user.scss */
.sns-links .icon-weibo:hover {
  color: #f85555;
}

/* line 75, ../sass/user.scss */
.sns-links .icon-zhihu:hover {
  color: #1892f5;
}

/* line 78, ../sass/user.scss */
.sns-links .icon-twitter:hover {
  color: #39a6f8;
}

/* line 81, ../sass/user.scss */
.sns-links .icon-instagram:hover {
  color: #303030;
}

/* line 84, ../sass/user.scss */
.sns-links .icon-juejin:hover {
  color: #1682fc;
}

/* line 87, ../sass/user.scss */
.sns-links .icon-github:hover {
  color: #575757;
}

/* line 90, ../sass/user.scss */
.sns-links .icon-facebook:hover {
  color: #3d5a9a;
}

/* line 93, ../sass/user.scss */
.sns-links .icon-dribble:hover {
  color: #f26798;
}

/* line 96, ../sass/user.scss */
.sns-links .icon-jianshu:hover {
  color: #ea6f5a;
}

/* line 99, ../sass/user.scss */
.sns-links .icon-uicn:hover {
  color: #3498db;
}

/* line 102, ../sass/user.scss */
.sns-links .icon-linkedin:hover {
  color: #3181be;
}

/* line 105, ../sass/user.scss */
.sns-links .icon-medium:hover {
  color: #0be370;
}

/* line 108, ../sass/user.scss */
.slide {
  position: absolute;
  top: 1rem;
}
/* line 111, ../sass/user.scss */
.slide .mask {
  display: none;
}

/* line 115, ../sass/user.scss */
.user {
  width: 17rem;
  padding: 1rem 0;
  min-height: 10rem;
  height: auto;
  background: #fff;
  border: 0.1rem solid #f1f1f1;
}
/* line 122, ../sass/user.scss */
.user .user_head {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
/* line 127, ../sass/user.scss */
.user .user_head img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 133, ../sass/user.scss */
.user h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: normal;
  padding: 0 1.5rem;
  margin-bottom: 0.7rem;
}

/* line 141, ../sass/user.scss */
.sns-links {
  border-top: 0.1rem solid #dadada;
  padding: 1.2rem 1rem 0rem 1rem;
  text-align: center;
  margin: 0 auto;
}
/* line 146, ../sass/user.scss */
.sns-links a {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 0.2rem;
}
/* line 151, ../sass/user.scss */
.sns-links a i {
  font-size: 1.5rem;
}

/* line 156, ../sass/user.scss */
.menu {
  width: 17rem;
  padding: 1rem 0;
  height: auto;
}
/* line 160, ../sass/user.scss */
.menu ul {
  width: 100%;
  height: 100%;
}
/* line 163, ../sass/user.scss */
.menu ul li {
  position: relative;
  z-index: 4;
  height: 4rem;
  margin-bottom: 1rem;
  z-index: 5;
}
/* line 169, ../sass/user.scss */
.menu ul li a {
  display: inline-block;
  width: 15rem;
  color: #808080;
  height: 2rem;
  line-height: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}
/* line 178, ../sass/user.scss */
.menu ul li .icon,
.menu ul li .icon_h,
.menu ul li .icon_w {
  position: relative;
  top: -0.1rem;
  margin-right: 0.7rem;
}
/* line 185, ../sass/user.scss */
.menu ul li .icon_h,
.menu ul li .icon_w {
  display: none;
}
/* line 190, ../sass/user.scss */
.menu ul .current {
  background: #fff;
}
/* line 192, ../sass/user.scss */
.menu ul .current a {
  color: #ff6f3d;
}
/* line 195, ../sass/user.scss */
.menu ul .current .icon {
  display: none;
}
/* line 198, ../sass/user.scss */
.menu ul .current .icon_h {
  display: inline-block;
}
/* line 203, ../sass/user.scss */
.menu .sns-links {
  display: none;
}

/* line 207, ../sass/user.scss */
.slidefix {
  position: fixed;
  top: 6rem;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  /* line 215, ../sass/user.scss */
  .menu ul li:hover {
    background: #fff;
  }
  /* line 217, ../sass/user.scss */
  .menu ul li:hover a {
    color: #ff6f3d;
  }
  /* line 220, ../sass/user.scss */
  .menu ul li:hover .icon,
  .menu ul li:hover .icon_w {
    display: none;
  }
  /* line 224, ../sass/user.scss */
  .menu ul li:hover .icon_h {
    display: inline-block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 236, ../sass/user.scss */
  .slide {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 241, ../sass/user.scss */
  .slide {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }
  /* line 247, ../sass/user.scss */
  .slide .slide_animate {
    position: relative;
    width: 20rem;
    height: 100%;
    transition: all .5s linear;
    z-index: 13;
  }
  /* line 254, ../sass/user.scss */
  .slide .mask {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.8s linear;
  }
  /* line 265, ../sass/user.scss */
  .slide .maskshow {
    animation: mymove 0.5s forwards 0.6s;
  }
  /* line 268, ../sass/user.scss */
  .slide .showmenu {
    transform: translateX(0%);
  }
  /* line 271, ../sass/user.scss */
  .slide .hidemenu {
    transform: translateX(-100%);
  }

  /* line 275, ../sass/user.scss */
  .showmenu {
    transform: translateX(0%);
  }

  /* line 278, ../sass/user.scss */
  .hidemenu {
    transform: translateX(-100%);
  }

  /* line 281, ../sass/user.scss */
  .user,
  .menu {
    position: relative;
    z-index: 13;
    width: 22rem;
    background: #fff;
    padding: 0;
  }

  /* line 289, ../sass/user.scss */
  .user {
    min-height: 10rem;
    height: auto;
    border: none;
  }
  /* line 293, ../sass/user.scss */
  .user .user_head {
    width: 5rem;
    height: 5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  /* line 300, ../sass/user.scss */
  .user .sns-links a {
    display: none;
  }

  /* line 305, ../sass/user.scss */
  .menu {
    height: 100%;
  }
  /* line 307, ../sass/user.scss */
  .menu ul {
    width: 100%;
    height: 100%;
  }
  /* line 310, ../sass/user.scss */
  .menu ul li {
    height: 5rem;
    line-height: 5rem;
  }
  /* line 313, ../sass/user.scss */
  .menu ul li a {
    position: relative;
    z-index: 2;
    height: 3rem;
    line-height: 3rem;
    width: 19rem;
    font-size: 1.6rem;
    padding-left: 2rem;
  }
  /* line 324, ../sass/user.scss */
  .menu ul .current a {
    color: #fff;
    background: #ff6f3d;
  }
  /* line 327, ../sass/user.scss */
  .menu ul .current a .icon, .menu ul .current a .icon_h {
    display: none;
  }
  /* line 330, ../sass/user.scss */
  .menu ul .current a .icon_w {
    display: inline-block;
  }
  /* line 336, ../sass/user.scss */
  .menu .sns-links {
    display: inline-block;
    position: fixed;
    bottom: 0.5rem;
    width: 20rem;
  }
  /* line 341, ../sass/user.scss */
  .menu .sns-links a {
    margin: 0 0.45rem;
  }
  /* line 344, ../sass/user.scss */
  .menu .sns-links .iconfont {
    font-size: 3rem;
  }
}
